<h1>Today's News</h1>


<ul>
<p>Africa <%= PrettyPrint.@africa %></p>
<p>Americas <%= PrettyPrint.@americas %></p>
<p>Asia Pacific <%= PrettyPrint.@asia_pacific %></p>
<p>Europe <%= PrettyPrint.@europe %></p>
<p>Middle East <%= PrettyPrint.@middle_east %></p>
</ul>
